# component information from your source environment
aap_version: {{ aap_version }} # The version being migrated
platform: {{ platform_type }} # The source platform type
components:
  - name: controller
    version: {{ controller_version }}
  - name: hub
    version: {{ hub_version }}