controller_pg_database: {{ pg_database }}
controller_secret_key: {{ controller_secret }}
# gateway_pg_database: <redacted>
# gateway_secret_key: <redacted>
hub_pg_database: {{ pg_database }}
hub_secret_key: {{ hub_secret }}
hub_db_fields_encryption_key: {{ hub_node_key }}