controller_pg_database: {{ controller_pg_database }}
controller_secret_key: {{ hostvars[groups['automationcontroller'][0]]['controller_secret']['stdout'] | trim }}
# gateway_pg_database: <redacted>
# gateway_secret_key: <redacted>
hub_pg_database: {{ hub_pg_database }}
hub_secret_key: {{ hostvars[groups['automationhub'][0]]['hub_secret']['stdout'] | trim }}
hub_db_fields_encryption_key: {{ hostvars[groups['automationhub'][0]]['hub_node_key']['stdout'] | trim }}